{% extends "admin/layout.njk" %}

{% block content %}

{% block head %}
  <link rel="stylesheet" href="/admin/create.css">
{% endblock %}

<h3>Criando receita</h3>

<button type="submit">Salvar receita</button>


<div class="item">
<div>Imagem da receita</div>
<input type="url" name="recipe_avatar">
</div>

<div class="item">
<div>Ingredientes</div>
<input type="text" name="ingredients">
<a href="#">Adicionar novo ingrediente</a>
</div>

<div class="item">
<div>Modo de preparo</div>
<input type="text" name="preparation">
<a href="#">Adicionar novo passo</a>
</div>

<div class="item">
<div>Informações adicionais</div>
<textarea name="extra_information"></textarea>
</div>


{% endblock %}