{% extends "admin/layout.njk" %}

{% block content %}

{% block head %}
  <link rel="stylesheet" href="/admin/create.css">
  <link rel="stylesheet" href="/admin/index.css">
{% endblock %}

<h3>Gerenciar receitas</h3>

<div class="wrapper-cards">

{% for recipe in recipes %}
<div class="cards">
<img class="card-avatar" src={{recipe.recipe_avatar}}>
<div class="card-info">
<p class="card-main-title">{{recipe.recipe_name}}</p>
<p class="card-author">por {{recipe.recipe_author}}</p>
<a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
</div>
</div>
{% endfor %}

</div>
{% endblock %}

