.admin-wrapper {
  margin-top: 55px;
}

.admin-wrapper h3 {
  font-size: 24px;
  line-height: 34px;
  display: inline-block;
  margin-bottom: 30px;
}

.admin-wrapper div {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-black);
  margin-bottom: 5px;
}

.admin-wrapper a {
  color: var(--color-purple);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1px;
  text-decoration: none;
}

.admin-wrapper input {
  display: block;
  border: 1px solid  #DDDDDD;
  background: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: var(--color-darker-grey);
  font-weight: bold;
  outline: none;
  margin-bottom: 5px;
}

.admin-wrapper .item {
  margin-bottom: 30px;
}

.admin-wrapper textarea {
  height: 300px;
  width: 100%;
}

.admin-wrapper button {
  background-color: var(--color-purple);
  color: white;
  border-radius: 4px;
  font-size: 16px;
  line-height: 26px;
  padding: 4px 8px;
  float: right;
  cursor: pointer;
}

.admin-header {
  background-color: var(--color-black);
}

.admin-logo {
  padding-left: 17%;
}

#about.active, #recipes.active {
  font-weight: bold;
}

