.admin-wrapper {
  margin-top: 55px;
  border: 2px solid red;
}

.admin-wrapper h3 {
  font-size: 24px;
  line-height: 34px;
  display: inline-block;
}

.admin-wrapper button {
  background-color: var(--color-purple);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}

.admin-header {
  background-color: var(--color-black);
}

.admin-logo {
  padding-left: 17%;
}

#about.active, #recipes.active {
  font-weight: bold;
}

