.admin-wrapper {
  margin-top: 55px;
}

.admin-wrapper h3 {
  font-size: 24px;
  line-height: 34px;
  display: inline-block;
  margin-bottom: 30px;
}

.admin-wrapper div {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-black);
  margin-bottom: 5px;
}

.admin-wrapper input, textarea {
  display: block;
  border: 1px solid  #DDDDDD;
  background: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: var(--color-darker-grey);
  outline: none;
  padding-left: 10px;
}

.admin-wrapper textarea {
  padding: 10px;
}

.admin-wrapper input::placeholder {
  font-size: 14px;
}

.admin-wrapper .item {
  margin-bottom: 15px;
}

.admin-wrapper textarea {
  height: 300px;
  width: 100%;
}

.btn {
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 1px;
  padding: 8px 16px;
  float: right;
  cursor: pointer;
  outline: none;
}

.btn-save, .btn-edit {
  background-color: var(--color-purple);
}

.btn-delete {
  background-color: var(--color-red);
}

.btn-save {
  margin-right: 10px;
}

.add-ingredient, .add-step{
  color: var(--color-purple);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 30px;
}

.admin-header {
  background-color: var(--color-black);
}

.admin-logo {
  padding-left: 17%;
}

