.wrapper-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards {
  display: grid;
  grid-template-columns: 172px 1fr;
}

.card-avatar {
  height: 80px;
  border-radius: 8px;
  margin-right: 20px;
  background-position: center;
}

.card-main-title {
  font-weight: 400;
  font-size: 18px;
}

.card-author {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-dark-grey);
}

.card-info a {
  font-size: 14px;
  text-decoration: none;
  color: var(--color-purple);
}